*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    font-family: Montserrat, sans-serif;    
    color: black;
    box-sizing: border-box;
    font-size: 24px;
}

#intro{
    display: flex;
    overflow: hidden;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#intro img{
    display: flex;
    overflow: hidden;
    width: 50vw;
}

h1{
    color: white;
    font-size: 4rem;
}

#bg-flowers{
    display: flex;
    text-align: center;
    background: black;  
    align-items: center;
}

#about{
    display: flex;
    background: pink;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#about #container{
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}

#about #container #container-2{
    background: white;
    padding: .75rem;
    box-shadow: 10px 10px rgba(0,0,0,.5); 
    
}

#about img{
    background: #E8A5C8;
    width:300px;
}

#about #text-container{
    color: white;
    margin-left: 2rem;
    margin-top: 1rem;
    text-align: center;
    width: 400px;
    display: flex;
    justify-content: center;
}

#album-info{
    background: #DAC1DF;
}





