*{
    margin: 0;
    padding: 0;
}

nav img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

body{
    background: #ccc;
    font-family: Arial;   
}

nav{
    background: #333;
    display: flex;
    justify-content: space-between;
    color: #ccc;
    align-items: center;

}

nav ul{
    list-style: none;
    display: flex;
}

nav ul a{
    color: #ccc;
    text-decoration: none;
    padding: 1rem 1.5rem;
}

nav ul a:hover{
    background: #ccc;
    color: #333;
    border-radius: 5px;
    margin: 1rem;
}